* {
    margin: 0px;
    padding: 0px;
}

/* nav sectoin style statr herer */
.nav-container {
    min-height: 80px;
    display: flex;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.logo-container img {
    width: 113px;
    object-fit: cover;
    margin-right: 44px;
    margin-left: -11%;
    height: 55px;
}

.logo-titale {
    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.Gamer {
    color: #E73DA3;
}

.nav-iteams-container {
    display: flex;
    width: 50%;
    gap: 78px;
    align-items: center;
    margin-left: 25%;
}

.nav-iteams-container a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
}

.nav-right-sectoin {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    width: 169px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
}

.nav-right-sectoin .fa-youtube {
    color: red;
    margin: 10px;

    font-size: 23px;
}

.nav-right-sectoin .fa-tiktok {

    color: black;
    font-size: 23px;
}

/* nav sectoin style end here */

/* banner sectoin styles start here */
.banner-container {
    display: flex;
    justify-content: center;
}

.banner-right {
    width: 50%;
}

.banner-left {
    background-image: url(../images/Group\ 14.png);
    width: 50%;

}

.banner-left h2 {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20%;
}

.banner-left h1 {
    text-align: center;
    font-family: Work Sans;
    font-size: 95px;
    margin-right: 7px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-left ul>li {
    color: #534C64;
    text-align: center;
    font-size: 20px;
    list-style: none;
    font-weight: 500;
    line-height: normal;
    /* text-transform: lowercase; */
}

.text-container {
    text-align: left;
    margin-right: 20px;
}

.inline-text {
    margin-left: 210px;
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.list-iteam {
    margin-left: -20px;
}

.btn-primary {
    margin-left: 205px;
    margin-top: 17px;
    height: 45px;
    border: 1px;
    width: 102px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
}

.btn-secendory {
    margin-left: 20px;
    margin-top: 17px;
    height: 45px;
    border: 1px;
    width: 102px;
    border-radius: 48px;
    background: #4EC5F7;
}

.banner-right img {
    width: 100%;
    padding: 0px auto;
}

/* banner sectoin styles end here */

/* game sectoin start here */
.game-titale {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    margin-top: 50px;
}

.funny-vidieo {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}
.game-card{
    position: relative;
    display: inline-block;
}

.game-driscriptoin {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
}

.game-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.card-captoin {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

.game-card img {
    width: 285px;
    height: 382px;
    display:block ;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 86%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    color: red;
    font-size: 30px;
    transition: opacity 0.3s ease;
    border-radius: 10px;
   
}
.overlay i {
    margin-bottom: 71px;
    left: 68px;
    position: relative;
}
i.fa.fa-play-circle {
    color: white;
}


  .game-card:hover .overlay {
    opacity: 1; 
    top: 2px;
  }


/* game sectoin ends here */


/* 3rd sectoin start here */

.details {
    text-align: center;
    margin-right: 47px;
}

.details h2 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.play-instantly {
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rd-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 14%;
    gap: 120px;
    margin-top: 50px;
    padding-bottom: 300px;
}

    .another-img {
        position: relative;
        height: 230px;
        bottom: -43px;
        right: 93%;
    }

/* 3rd sectoin ends here */
.btn-sectoin {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 143px;
    margin-top: 110px;
    padding-top: 10px;
    margin-top: -13%;

}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10%
}

.btn-container img {
    height: 50px;
    width: 50px;
    padding: 13px;
    margin: -3px;
}

.btn-container :hover {
    color: #e852ad;
    /* background-color: darkblue; */
    transition: .3s;
}

.btn-container2 :hover {
    color: #e852ad;
    /* background-color: darkblue; */
    transition: .3s;

}

.btn,
.btn-Adventure,
.btn-Arcade,
.btn-Educational,
.btn-Word {
    border-radius: 50px;
    background: #FFF;
    color: #0B0223;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    height: 54px;
    align-items: center;
    gap: 11px;
    justify-content: center;
    margin-left: 10px;
    border: 1px;

}

.btn-container2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-top: -83px;
}

.btn-container2 img {
    height: 50px;
    width: 50px;
    padding: 13px;
    margin: -3px;
}

.btn-Role,
.btn-Music,
.btn-Puzzle,
.btn-Strategy {
    border-radius: 50px;
    background: #FFF;
    color: #0B0223;
    font-size: 17px;
    font-weight: 600;
    padding: 0 10px;
    display: flex;
    height: 54px;
    align-items: center;
    gap: 11px;
    justify-content: center;
    margin-left: 10px;
    border: 1px;
}



/* .btn-Strategy:hover{
    background-color: #4EC5F7;
}    */

/* fotter style  */
.fotter-container {
    background: #0B0223;
    height: 400px;
    padding: 14px;
    /* margin-top: -16%; */
}


.fotter-haead {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    /* gap: 7px; */
}

.fotter-haead img {
    height: 32px;
    width: 62px;
}


.fotter-titale {
    color: white;
    font-size: 32px;

}

.fotter-Gamer {
    color: #E73DA3;
}

.fotter-drescriptoin {

    color: #FFF;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 40px;
}
.fotter-drescriptoin a{
    text-decoration: none;
    color: #FFF;
    margin-left: 24px;

}
.footer-icon {
 text-align: center;
 padding: 14px;
}
.footer-icon i{
    color: #FFF;
    width: 40px;
    height: 40px;
    font-size: 26px;
   }
   i.fa-brands.fa-square-facebook {
    color: blue;
}
   
i.fa-brands.fa-youtube {
    color: red;
}

   .fotter-trems{
    text-align: center;
    margin-top: 15px;
   }
   .fotter-trems ul li{
    list-style: none;
   }
   .fotter-trems ul li a{
     text-decoration: none;
     color: rgba(255, 255, 255, 0.60);
     margin-left: 16px;
     font-weight: 600;
     margin-bottom: 40px;
     font-size: 16px;
font-style: normal;
font-weight: 500;
   }
   .fotter-trems p{
    line-height: 1;
    color: rgba(255, 255, 255, 0.60);
    margin-left: 16px;
    font-weight: 600;
    margin-top: 40px;
    font-size: 16px;
font-style: normal;
font-weight: 500;
  }

  
